<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <title>Banana bread</title>
</head>

<body>
  <h1>Banana bread</h1>
  <%=
    image_tag 'https://images.immediate.co.uk/production/volatile/sites/30/2020/08/recipe-image-legacy-id-1273522_8-e131986.jpg?resize=960,872?quality=90&webp=true&resize=600,545'
    %>
    <h2>Method</h2>
    <h3>
      STEP 1<br />
      Heat oven to 180C/160C fan/gas 4.<br />
      STEP 2<br />
      Butter a 2lb loaf tin and line the base and sides with baking
      parchment.<br />
      STEP 3<br />
      Cream 140g softened butter and 140g caster sugar until light and fluffy,
      then slowly add 2 beaten large eggs with a little of the 140g flour.<br />
      STEP 4<br />
      Fold in the remaining flour, 1 tsp baking powder and 2 mashed bananas.<br />
      STEP 5<br />
      Pour the mixture into the prepared tin and bake for about 50 mins, or
      until cooked through. Check the loaf at 5-min intervals from around 30-40
      mins in the oven by testing it with a skewer (it should be able to be
      inserted and removed cleanly), as the time may vary depending on the shape
      of your loaf tin.<br />
      STEP 6<br />
      Cool in the tin for 10 mins, then remove to a wire rack.<br />
      STEP 7<br />
      Mix 50g icing sugar with 2-3 tsp water to make a runny icing.<br />
      STEP 8<br />
      Drizzle the icing across the top of the cake and decorate with a handful
      of banana chips.
    </h3>
</body>

</html>